tools/base-*
tools/display-*
tools/CSS
tools/EPICS-CPP*
tools/ether_ip*
tools/pvaPy-0.7.0
tools/jdk*
tools/VisualDCT
tools/autosave*

.project

mine/

bin/
db/
dbd/
include/
lib/

envPaths

O.Common
O.linux-x86_64

tools/EPICSV4Sandbox

.pydevproject
