# Specific Binaries
tools/base-*
tools/display-*
tools/phoebus-*
tools/CSS
tools/EPICS-CPP*
tools/ether_ip*
tools/pvaPy*
tools/jdk*
tools/VisualDCT*
tools/autosave*
tools/EPICSV4Sandbox
tools/StreamDevice*
tools/asyn*
tools/re2c*
tools/seq*

# Examples installed from Phoebus/CSS
examples/Display\ Builder

# EPICS-created
bin/
db/
dbd/
include/
lib/
envPaths
O.Common
O.linux-x86_64

# Misc files
.project
.pydevproject
mine/


